$black: rgba(33, 29, 33, 1);
$purple: rgba(77, 49, 90, 1);
$green: rgba(166, 201, 66, 1);
$yellow: rgba(239, 202, 71, 1);
$white: rgba(247, 255, 235, 1);

$transition015: 0.15s ease all;
$transition03: 0.3s ease all;
$transition05: 0.5s ease all;

