$black: rgba(48, 47, 47, 1);
$purple: rgba(77, 49, 90, 1);
$green: rgba(166, 201, 66, 1);
$yellow: rgba(242, 206, 79, 1);
$white: rgba(242, 242, 242, 1);
$gray: rgba(125, 125, 125, 1);

$red: rgba(235, 70, 60, 1);
$green_bg: rgba(198, 255, 207, 1);
$pink_bg: rgba(255, 211, 248, 1);
$blue_bg: rgba(193, 233, 255, 1);
$yellow_bg: rgba(255, 237, 190, 1);

$transition015: 0.15s ease all;
$transition03: 0.3s ease all;
$transition05: 0.5s ease all;
