<div class="container">
  <img class="top-details" src="assets/images/explosion.svg" alt="detail">

  <header class="header">
    <h1 class="header__text">
      ITWIS ЦЕЛИ:
    </h1>
    <h1 class="header__text">
      2022 ГОД
    </h1>
  </header>

  <swiper class="swiper" [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper__slide">
          <h2 class="swiper__slide-step">ЭТАП 1</h2>
          <p class="swiper__slide-current">$187,000</p>
          <p class="swiper__slide-goal">цЕЛЬ: $200,000</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper__slide"></div>
      </div>
      <div class="swiper-slide">
        <div class="swiper__slide"></div>
      </div>
      <div class="swiper-slide">
        <div class="swiper__slide"></div>
      </div>
      <div class="swiper-slide">
        <div class="swiper__slide"></div>
      </div>
      <div class="swiper-slide">
        <div class="swiper__slide"></div>
      </div>

    </div>
  </swiper>

  <footer class="footer">

  </footer>

  <img id="cursor" src="assets/images/skroll.svg" alt="" #cursor/>
</div>
