<div class="container">
  <img class="top-details" src="assets/images/explosion.svg" alt="detail">

  <header class="header">
    <h1 class="header__text">
      ITWIS ЦЕЛИ:
    </h1>
    <h1 class="header__text">
      2022 ГОД
    </h1>
  </header>

  <swiper #swiper class="swiper" [config]="config">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="swiper__content">
          <div class="swiper__rays">
            <img class="swiper__badge" alt="123" src="assets/images/vrclub.svg"/>
            <div class="swiper__circle">
              <h2 class="swiper__circle-step">ЭТАП 1</h2>
              <p class="swiper__circle-current">$187,000</p>
              <p class="swiper__circle-goal">цЕЛЬ: $200,000</p>
            </div>
          </div>

          <p class="swiper__text">
            Идём в VR клуб
          </p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="swiper__content">
          <div class="swiper__rays">
            <img class="swiper__badge" alt="123" src="assets/images/vrclub.svg"/>
            <div class="swiper__circle">
              <h2 class="swiper__circle-step">ЭТАП 1</h2>
              <p class="swiper__circle-current">$187,000</p>
              <p class="swiper__circle-goal">цЕЛЬ: $200,000</p>
            </div>
          </div>

          <p class="swiper__text">
            Идём в VR клуб
          </p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="swiper__content">
          <div class="swiper__rays">
            <img class="swiper__badge" alt="123" src="assets/images/vrclub.svg"/>
            <div class="swiper__circle">
              <h2 class="swiper__circle-step">ЭТАП 1</h2>
              <p class="swiper__circle-current">$187,000</p>
              <p class="swiper__circle-goal">цЕЛЬ: $200,000</p>
            </div>
          </div>

          <p class="swiper__text">
            Идём в VR клуб
          </p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="swiper__content">
          <div class="swiper__rays">
            <div class="swiper__circle">
              <h2 class="swiper__circle-step">ЭТАП 1</h2>
              <p class="swiper__circle-current">$187,000</p>
              <p class="swiper__circle-goal">цЕЛЬ: $200,000</p>
            </div>
          </div>

          <p class="swiper__text">
            Идём в VR клуб
          </p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="swiper__content">
          <div class="swiper__rays">
            <div class="swiper__circle">
              <h2 class="swiper__circle-step">ЭТАП 1</h2>
              <p class="swiper__circle-current">$187,000</p>
              <p class="swiper__circle-goal">цЕЛЬ: $200,000</p>
            </div>
          </div>

          <p class="swiper__text">
            Идём в VR клуб
          </p>
        </div>
      </div>

    </div>
  </swiper>

  <footer class="footer">
    footer
  </footer>

  <img id="cursor" src="assets/images/skroll.svg" alt="" #cursor/>
</div>
