/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Rostov";
  src: local("Rostov"), url(assets/fonts/Rostov.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rostov", sans-serif;
  cursor: none;
}

body {
  overflow: hidden;
}


